<mat-sidenav-container class="container">

  <mat-sidenav mode="side" opened>
    <mat-toolbar>CloudPulse</mat-toolbar>

    <mat-nav-list>
      <a mat-list-item>Dashboard</a>
      <a mat-list-item>Servers</a>
      <a mat-list-item>Logs</a>
      <a mat-list-item>Alerts</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary">
      DevOps Monitoring Dashboard
    </mat-toolbar>

   <div class="content">

  <mat-card>
    <h3>CPU Usage</h3>
    <p>{{ cpu }}%</p>
  </mat-card>

  <mat-card>
    <h3>Memory Usage</h3>
    <p>{{ ram }}%</p>
  </mat-card>

  <mat-card>
    <h3>Uptime</h3>
    <p>{{ uptime }}</p>
  </mat-card>

</div>

  </mat-sidenav-content>

</mat-sidenav-container>